<IfModule mod_rewrite.c>
  RewriteEngine On

  # If app is deployed with project root as DocumentRoot,
  # redirect all traffic into /public.
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
